---
import FormattedDate from '@/components/FormattedDate.astro';
import MarkDown from '@/components/Markdown.astro';
import PageLayout from '@/layouts/PageLayout.astro';
import { getCollection, type CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('blog');

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();
---

<PageLayout title={post.data.title}>
  <article>
    <header class="border-b pb-10 text-center">
      <h1 class="text-3xl font-bold">{post.data.title}</h1>
    </header>
    <MarkDown>
      <Content />
    </MarkDown>
  </article>
</PageLayout>
