---
import PageLayout from '@/layouts/PageLayout.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf()
);
---

<PageLayout title="Blog">
  <ul>
    {
      posts.map((post) => (
        <li>
          <a
            href={`/blog/${post.slug}/`}
            class="hover:text-emerald-600 text-3xl"
          >
            {post.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</PageLayout>
