---
import SnsIcon from './SnsIcon.astro';

const today = new Date();
---

<footer class="flex flex-col items-center gap-1 py-10">
  &copy; {today.getFullYear()} devwqc All rights reserved.
  <ul class="flex gap-5">
    <li>
      <SnsIcon
        href="mailto:devwqc@gmail.com"
        target="_blank"
        rel="noreferrer noopener">Mail</SnsIcon
      >
    </li>
    <li>
      <SnsIcon
        href="https://github.com/devwqc"
        target="_blank"
        rel="noreferrer noopener">GitHub</SnsIcon
      >
    </li>
    <li>
      <SnsIcon
        href="https://www.linkedin.com/in/devwqc/"
        target="_blank"
        rel="noreferrer noopener">LinkedIn</SnsIcon
      >
    </li>
  </ul>
</footer>
