---
const today = new Date();
---

<footer class="flex flex-col items-center gap-1 py-10">
  &copy; {today.getFullYear()} devwqc All rights reserved.
  <ul class="flex gap-5">
    <li>
      <a
        href="mailto:devwqc@gmail.com"
        target="_blank"
        rel="noreferrer noopener">Mail</a
      >
    </li>
    <li>
      <a
        href="https://github.com/devwqc"
        target="_blank"
        rel="noreferrer noopener">GitHub</a
      >
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/devwqc/"
        target="_blank"
        rel="noreferrer noopener">LinkedIn</a
      >
    </li>
  </ul>
</footer>
