---
import HeaderLink from './HeaderLink.astro';
---

<header class="p-5">
  <nav class="flex items-center justify-between">
    <a href="/" class="text-3xl font-bold">devwqc</a>
    <ul class="flex gap-5">
      <li>
        <HeaderLink href="/">Home</HeaderLink>
      </li>
      <li>
        <HeaderLink href="/blog">Blog</HeaderLink>
      </li>
      <li>
        <HeaderLink href="/about">About</HeaderLink>
      </li>
    </ul>
  </nav>
</header>
