---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'> & {
  incldues: string[];
};

const { href, incldues, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = incldues.find((path) => {
  return path === pathname || path === '/' + subpath?.[0];
});
---

<a
  href={href}
  class:list={[
    className,
    { 'text-emerald-600': isActive },
    'text-xl hover:text-emerald-600',
  ]}
  {...props}
>
  <slot />
</a>
