---
import Navigation from './Navigation.astro';
import NavigationMobile from './NavigationMobile.astro';
---

<header class="py-10">
  <nav class="flex items-center justify-between">
    <a href="/" class="text-3xl font-bold">devwqc</a>
    <Navigation />
    <NavigationMobile />
  </nav>
</header>
