---
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import '@/styles/global.css';

type Props = {
  title?: string;
  description?: string;
};

const { title, description } = Astro.props;
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} | devwqc blog` : 'devwqc blog'}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <slot name="head" />
  </head>
  <body class="max-w-[48rem] mx-auto my-0 px-5">
    <div class="min-h-screen flex flex-col justify-between">
      <div>
        <Header />
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>
