---
const { title, description } = Astro.props;
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} | devwqc blog` : 'devwqc blog'}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <slot name="head" />
  </head>
  <body class="max-w-[48rem] mx-auto my-0 min-h-screen">
    <slot />
  </body>
</html>
